.DS_Store
/dist
dist.tar
/build
/images
/files
/国外疫情数据
/node_moudles
__pycache__

# local env files
.env.local
.env.*.local
*.ini

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
out.txt
log.txt
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
